<!DOCTYPE html> 
<head>
  <title>Node Rover</title>
</head>
  <body>
    <h1>Hello you</h1>
    <br><button id='right'>Right</button></br>
    <br><button id='left'>Left</button></br>
    <br><button id='forward'>Forward</button></br>
    <br><button id='reverse'>Reverse</button></br>
    <br><button id='brake'>Brake!</button></br>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="js/socket.io"></script>
      <script>
      $(document).ready(function(){
        var socket = io();
        onRight(socket);
        onLeft(socket);
        onForward(socket);
        onReverse(socket);
        onBrake(socket);
      });

      function onRight(socket){
        $('#right').on('click', function(){
          socket.emit('right');
        });
      }

       function onLeft(socket){
        $('#left').on('click', function(){
          socket.emit('left');
        });
      }

      function onForward(socket){
        $('#forward').on('click', function(){
          socket.emit('forward');
        });
      }

      function onReverse(socket){
        $('#reverse').on('click', function(){
          socket.emit('reverse');
        });
      }

      function onBrake(socket){
        $('#brake').on('click', function(){
          socket.emit('brake');
        });
      }

      </script>
  </body>
</html>