/*---------------------------
    Global
----------------------------*/

body {
  background-color: rgb(125,174,23);
  color: rgb(250,250,250);
  width: 100%;

  font-family: helvetica;
  font-weight: 100;
  letter-spacing: 1.2px;
}

/*---------------------------
    Header
----------------------------*/

header {
  width: 100%;
  min-height: 40px;
  padding: 2% 0 2% 0;
  order: 1;
  background-color: rgb(50,50,50);
  text-align: center;
}

section#logo {
  min-height: 40px;
  width: auto;
  margin: 0% auto;
  background-image: url(/svg/logo_bar_noderover.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*---------------------------
    Main
----------------------------*/

main {
  width: 100%;
  height: 100%;
  background-color: rgb(125,174,23);
  color: rgb(250,250,250);
}

/*---------------------------
    Movement Controlls
----------------------------*/

section#movement {
  overflow: visible;
  position: absolute;
  left: 2vw;
  bottom: 5vw;
  width: 25vw;
  height: 25vw;
}

svg {
  width: 100%;
  height: 100%;
  stroke: white;
  fill: transparent;
  overflow: visible;
  stroke-width: 2;
  }

.uns-control:hover {
  cursor: pointer;
//  fill: black;
}

/*---------------------------
    Claw Controlls
----------------------------*/

section#claw {
  overflow: visible;
  position: absolute;
  bottom: 10vh;
  left: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -20vw;
  width: 40vw;
}

svg#claw-up {
  width: 5vw;
  height: 5vw;
}

svg#claw-down {
  width: 5vw;
  height: 5vw;
  transform: rotate(180deg);
}

svg#claw-release {
  width: 11.5vw;
  height: 5vw;
}

svg#claw-pinch {
  width: 11.5vw;
  height: 5vw;
}

rect.control-container {
  stroke: white;
  stroke-width: 5;
  fill: transparent;
}

svg text {
  font-family: Helvetica;
  font-weight: 100;
  fill: white;
}

/*---------------------------
    Vision Controlls
----------------------------*/

section#vision {
  overflow: visible;
  position: absolute;
  bottom: 5vw;
  right: 2vw;
  width: 20vw;
  height: 20vw;
}

/*---------------------------
    Video Stream
----------------------------*/


#their-video {
  width: 40%;
  height: 40%;
  max-height: 200px;
  background-color: rgb(125,174,23);
}

#video-container {
  padding: 25px;
  text-align: center;
}

#step1-error, #step2, #step3 {
  display: none;
  text-align: center;
}
#my-id {
  font-weight: bold;
}

/*---------------------------
    Gyro Toggle
----------------------------*/

section#gyro {
  overflow: visible;
  position: absolute;
  bottom: 10vh;
  top: 25%;
  right: 15%;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

svg#gyro-toggle {
  width: 5vw;
  height: 5vw;
}

/*---------------------------
    Login Form
----------------------------*/

#popuplogin {
  margin: 25vh 40%;
  width: 25vw;
  line-height: 10vh;
  letter-spacing: 1.2px;
}

input {
  height: 5vh;
  border: 2px solid white;
  padding-left: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-right: 1vw;
}

input:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: white;
  letter-spacing: 1.2px;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
  letter-spacing: 1.2px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
  letter-spacing: 1.2px;
}

:-ms-input-placeholder {
  color: white;
  letter-spacing: 1.2px;
}

button {
  height: 6.5vh;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 1000px) {

  #popuplogin {
    width: 15vw;
  }

}
